* {
  transition: none;
  box-shadow: none;
  font-family: "FiraCode Nerd Font";
  font-size: 14px;

  background: transparent;
}

#tray,
#workspaces {
  padding: 0 8px;
  background: rgb(6, 139, 216);
  border-radius: 14px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}


#workspaces button {
  color: #ffffff;

  border-width: 0px;

  padding: 0 4px;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68);
  background-color: transparent;
}

#workspaces button.active {
  color: rgb(163, 224, 216);
}

#workspaces button:hover {
  color: rgba(246, 71, 71, 0.8);
}

#workspaces button.urgent * {
  color: rgba(246, 71, 71, 0.8);
}

/*  */

tooltip {
  background-color: white;
}

tooltip label {
  color: black;
}

/* lllllllllllllllllllllllll */
#pulseaudio,
#keyboard-state,
#backlight,
#idle_inhibitor,
#network,
#clock,
#custom-power,

#custom-launcher,
#mode,
#cpu,
#memory,
#disk,
#window,
#mpd,
#custom-recorder,
#custom-audiorec {
  margin: 0 0px;
  padding: 0 8px;

  margin-right: 0px;
  /* padding-left: 0px; */

  /* border-top-right-radius: 14px;
  border-bottom-right-radius: 14px; */

  border-radius: 14px;
  border-width: 2px;
  border-style: solid;
  border-color: white;

  background-color: white;
  color: white;

  min-width: 14px;
}

#mode {
  background-color: rgb(138, 35, 207);
}

#cpu {
  background-color: #e24d5f;
}

#memory {
  background-color: #9e8705;
}

#disk {
  background-color: #4b8303;
}

#window,
#mpd {
  color: black;
}

#custom-recorder,
#custom-audiorec {
  background-color: rgba(175, 65, 84, 0.8);
}

#custom-launcher {
  min-width: 28px;
  background-color: #3190b6;
  /* color:#62aee0; */
}

/* rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
/* 
#pulseaudio,
#keyboard-state,
#backlight,
#idle_inhibitor,
#network,
#clock,
#custom-power {
  margin: 0 0px;
  padding: 0 8px;

  margin-left: -28px;
  padding-right: 36px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;

  border-width: 2px;
  border-style: solid;
  border-color: white;

  background-color: white;
  color: white;

  min-width: 16px;
} */

#pulseaudio {
  color: black;
}

#keyboard-state {
  background-color: #bd3dce;
}

#backlight {
  background-color: #3b84b4;
}

#idle_inhibitor {
  background-color: #329b73;
}

#network {
  background-color: #519b30;
}

#clock {
  background-color: #d85fc4;
}

#custom-power {
  border-radius: 14px;
  /* border-bottom-right-radius: 14px; */

  background-color: #e24d5f;

  padding-right: 8px;
  min-width: 28px;
}

/* tray */

#tray menu {
  background-color: white;
  color: black;
}

#tray {
  padding: 0 8px;
  background: #d4ba24;
}


/*  */
#temperature.critical {
  color: #800020;
}